* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "微软雅黑";
}

a{
    text-decoration: none;
}

/*顶部样式*/
.header{
    height: 30px;
    background: lightgrey;
    position: relative;
    top: 5px;
}

.my_info{
    width: 1210px;
    height: 30px;
    margin: 0 auto;
    display: flex;
    color: #999;
}
.my_info a{
    text-align: center;
    color: #999;
    line-height: 30px;
    font-size: 13px;
}

.my_info a:hover{
    color: red;
}

.addr{
    width: 590px;
}
my_info .link{
    width: 620px;
}


/*logo*/
.logo{
    width: 1210px;
    height: 87px;
    margin: 0 auto;
    display: flex;
}

.logo .d2{
    width: 100px;
    height: 100%;
    margin-right: 400px;
}

.logo p{
    text-align: center;
    line-height: 87px;
    color: #4a4a4a;
    font-size: 25px;
}

.logo .d3{
    width: 450px;
    height: 87px;
    box-sizing: border-box;
    padding-top: 43px;
    display: flex;
    flex-wrap: wrap;
}

.d3 .strip{
    width: 150px;
    height: 10px;
    border-top: 3px solid #00c9b6;
    display: flex;
    justify-content: center;
    text-align: center;
}

.d3 .circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background:  #00c9b6;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
    top: -12px;
}


/*订单详情*/

.title{
    width: 1210px;
    margin: 0 auto;
}

.content{
    width: 1210px;
    min-height: 500px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid #f0f0f0;
    padding: 50px;
}

.addr_info{
    min-height: 150px;
    box-sizing: border-box;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 20px;
}

.addr_box{
    width: 900px;
    height: 50px;
    margin-top: 30px;
    display: flex;
}
.addr_box p{
    line-height: 30px;
}

.addr_box .name{
    width: 144px;
    height: 30px;
    border: 3px solid red;
    text-align: center;
}

.addr_box .addr{
    height: 30px;
    text-align: center;
}

.pay_method{
    min-height: 100px;
    box-sizing: border-box;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 20px;
}

.methods{
    display: flex;
    padding-top: 18px;
}

.methods p{
    text-align: center;
    line-height: 30px;
}

.methods .m1{
    width: 100px;
    height: 30px;
    margin-right: 15px;
    border: 1px solid #e6e6e6;
}

.methods .m2{
    width: 100px;
    height: 32px;
    margin-right: 10px;
    border: 2px solid red;
    box-sizing: border-box;
}

.product_list{
    min-height: 400px;
    box-sizing: border-box;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 20px;
}

.invoice{
    box-sizing: border-box;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 20px;
}

.invoice ul{
    display: flex;
}

.invoice ul > li{
    display: block;
    margin-left: 20px;
    margin-top: 20px;
}

/*提交订单*/
.submit{
    width: 1210px;
    font-size: 12px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.submit > .statistics p{
    text-align: right;
    line-height: 30px;
}

.submit > .info{
    height: 80px;
    background: #e6e6e6;
}


.submit > .info p{
    line-height: 30px;
    text-align: right;
}

.submit  .sub_button{
    width: 135px;
    height: 36px;
    background: #eb604b;
    float: right;
    position: relative;
    right: 10px;
    top: 10px;
    border-radius: 3px;
    text-align: center;
}

.submit  .sub_button p{
    line-height: 36px;
    color: white;
    font-size: 20px;
}




/*底部样式*/
.bottom {
    margin-top: 50px;
    width: 100%;
    height: 500px;
    background: darkgray;
}

.bottom #title {
    width: 1210px;
    margin: 0 auto;
}

.bottom #title p{
    text-align: center;
}

.bottom .link{
    width: 1210px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 40px;
}

.bottom .link ul li{
    width: 200px;
}

.bottom .link a{
    color: black;
    text-decoration: none;
}

.bottom .link a:hover{
    color: red;
}

.bottom #about{
    width: 1210px;
    margin: 0 auto;
    text-align: center;
}

.bottom #about a{
    color: black;
}

.bottom #about a:hover{
    color: red;
}

.bottom #about li{
    display: inline-block;
}

.bottom #identy{
    width: 1210px;
    margin: 0 auto;
    text-align: center;
}
